body {
    /* background-color: lightslategray; */
    text-align: center;
    background: url("../images/background.jpg") no-repeat center center fixed;
}

.main-container {
    width: 100%;
    margin: 0 auto;
}

#chosen-characters-container{
    height: 250px;
}

img{
    padding: 10px;
    background: black;
    margin: 10px;
}

header {
    text-shadow: 15px 6px 6px rgb(241, 205, 205);
    font-size: 70px;
    background: black;
    color: rgb(211, 35, 35);
}

.characterzzzz {
    font-weight: bold;
}

.character {
    display: inline-block;
    align-content: center;
}

#fight-container {
    display: inline-block;
}

#defender-container{
    height: 250px;
}

h2 {
    color: red;
}

h3 {
    color: yellow;
}
